name: Check and test Python project

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  linting:
    strategy:
      matrix:
        python-version:
          - "3.7"
          - "3.8"
          - "3.9"
          - "3.10"
          - "3.11"
    name: Linting
    uses: greenbone/workflows/.github/workflows/lint-python.yml@main
    with:
      lint-packages: autohooks tests
      python-version: ${{ matrix.python-version }}

  test:
    strategy:
      matrix:
        python-version:
          - "3.7"
          - "3.8"
          - "3.9"
          - "3.10"
          - "3.11"
    name: Run tests
    uses: greenbone/workflows/.github/workflows/test-python.yml@main
    with:
      python-version: ${{ matrix.python-version }}

  codecov:
    name: Upload coverage to codecov.io
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v4
      - name: Calculate and upload coverage to codecov.io
        uses: greenbone/actions/coverage-python@v3
        with:
          python-version: "3.10"
          token: ${{ secrets.CODECOV_TOKEN }}

  check-version:
    name: Check versioning for consistency
    uses: greenbone/workflows/.github/workflows/check-version.yml@main
